body {
  background-color: #616161;
  color: white;
}

.daily_card {
  background-color: #282525;
}

.daily_text h2 {
  background-color: rgb(239, 219, 193);
  color: black;
}

.news_card {
  background-color: #282525;
}

.news_card:nth-child(2n) {
  background-color: rgb(47, 74, 74);
}

.cta_btn_news_red {
  background-color: rgb(170, 123, 123);
}

.info-text,
.info-graphic {
  background-color: #282525;
}

#form-section,
#form-summary,
#webform {
  background-color: #282525;
}

#form-section h2,
#form-summary h2 {
  background-color: rgb(239, 219, 193);
  color: black;
}

#webform2 {
  background-color: rgb(135, 135, 139);
  color: rgb(0, 0, 0);
}

input {
  background-color: #6a6969;
}

footer {
  background-color: #616161;
}

.instruction {
  color: bisque;
}

.form-group:focus-within span {
  color: #9cc68e;
}

#dialog {
  color: white;
  background-color: #282525;
}

input:hover {
  background-color: rgb(185, 176, 176);
  border-color: black;
}

#bigText,
#bigText2 {
  background-color: rgb(219, 212, 212);
}

.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: rgb(239, 219, 193);
  color: black;
}
