#main-disclamer {
  background-color: #ff4b00;
}

@font-face {
  font-family: "rubiklight";
  src: url(../fonts/Rubik/static/Rubik-Light.ttf);
}

#stat {
  font-family: "rubiklight";
  color: white;
}

.menuItem {
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 50px;
}

.daily_card h2 {
  margin-top: 1em;
}

.cta_btn {
  color: white;
}

.info-text h2 {
  margin-top: 2em;
}

/* css til dark mode knappen */

.dark-mode {
  padding-bottom: 8rem;
  padding-top: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#switchtext {
  color: black;
  font-family: "rubik2";
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(199, 180, 156);
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: #ff4b00;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider::before {
  translate: 100% 0;
}

footer {
  background-color: #fceb94;
}
